
<div style="width: 900px; margin: 100px auto; border-top-style: none; border-bottom-style: none; border-width: 2px; border-color:#2a2a2a;">
  <p style="font: normal 26px Times; color:#2a2a2a; line-height: 32px; margin: 40px;"><%= @aphorism %></h3>
  <h4 style="font: normal 14px OpenSans; text-align:right; color:#2a2a2a; margin: 40px; "> - <%= @author.first_name %> <%= @author.last_name %></h4>
</div>

<div style="width: 900px; margin: 100px auto; box-shadow: 2px 2px 6px  grey"><%= image_tag(@image_url, width:"100%") %></div>
<!-- <div style="width: 900px; margin: 100px auto; box-shadow: 2px 2px 6px  grey"><%= image_tag(@image_url2, width:"100%") %></div> -->


<!-- <div style="width: 900px; margin: 100px auto; box-shadow: 2px 2px 6px  grey"><p><%= @nytimes.title %></p> -->
</div>
